:root {
    --color1: rgb(247, 253, 247);
    --color2: #fb911f;
	--color3:#fb911f;
    --color4: #2a4963;
    --color5: rgb(15, 1, 17);
  }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    z-index: 99999;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    
}
.logo span{
    color: var(--color2);
}

.navbar{
    display: flex;
    position: relative;
    
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: var(--color5);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;

}

.btn-sign{
  padding: 10px;
  background: var(--color4);
  margin-top: -10px;
}

#sign{
      color: var(--color1);
}

.btn-sign:hover{
    background: var(--color2);
    transition: ease-out;
}


header .navbar li a:hover{
    color: var(--color2);
    border-bottom: 2px solid var(--color2);
}



/*baniere start*/
.banniere{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/1.jpg) center/cover;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2{
    color: var(--color1);
    font-size: 3em;
    text-transform: capitalize;
	text-shadow: var(--color5) 0.1em 0.1em 0.2em;
}

.contenu p{
    color: #ffff;
    font-size: 1.2em;
	text-shadow: var(--color5) 0.1em 0.1em 0.2em;
}


/* Slider */
.slider-page{
  
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-left: 205px;
  
}

@media  (max-width: 900px)
{

  .slider-page{
  
margin-left: 15%;
    
  }

  
.nxt-btn,.pre-btn {
 
 padding-left: 10%;
}
.card-container {
width: 95%;
margin-left: 5px;

}

.slider-page .card img {
  width: 210px;
}


}

.card-container {
  padding-left: 15px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;

}

.card-container::-webkit-scrollbar {
  display: none;
}

.slider-page .card{
  margin: 10px;
  border: rgb(192, 188, 188) solid 1px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.521);
}

.slider-page .card img {
  height: 200px;
  margin-bottom: 10px;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content {
  font-size: 20px;
  font-weight: 600;
  color: var(--color5);
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn2{
  
  text-align: center;
  margin: 10px 0;
}
.card .content .btn2 button{
  
  background: var(--color2);
  width: 100px;
  color: #fff;
  border: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
a{
    text-decoration: none;
    color: var(--color5);
  }
.card .content .btn2 button:hover{
  transform: scale(0.9);
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(223, 217, 217, 0) 0%, rgba(247, 244, 244, 0.274) 100%);
  cursor: pointer;
  z-index: 8;
}
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}




/* slider end*/

.page-media{
    margin-top:-100px;
}

.page-media .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.page-media .contenu .box{
    width: 250px;
    margin: 15px;
}
.page-media .contenu .box img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.page-media .contenu .box h3{
    color: #111;
    font-weight: 400;
    text-align: center;
}

section{
    padding: 100px;
}
header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}  

@media (max-width: 900px) {
header, 
header.sticky{
    padding: 10px 20px;
}
header .navbar li{
    margin-left: 0px;
}

header .navbar li a {
    text-decoration: none;
    color: #111;
    font-size: 1.4em;
    font-weight: 50;
}

.navbar{
    display: none;
}
section{
    padding: 20px;
}

header .navbar.active{
    position:absolute;
    right: 40px;
    top: 60px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 50px;
    height: 40vh;
    width: 40%;
    background: #ffff;
    align-items: center;
    font-size: 1rem;
    user-select: none;
}

.menuToggle{
    position: relative;
    width: 20px;
    height: 40px;
    background-image: url(./images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 30px;
}

.menuToggle.active
{
    background-image: url(./images/close.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-origin: center;
}

header.sticky .menuToggle{
    filter: invert(1);
}

.banniere .contenu h2{
    font-size: 2em;
}

.contenu p:nth-child(2){
    font-size: 1.2em;
}
.page-media{
    margin-top: 0px;
}

.menu{
    margin-top: 0px;
}
}

@media (max-width: 480px)
{
    .banniere .contenu h2{
        font-size: 2.2em;
        color: #fff;
    }

    .titre-text{
        color: #000;
        font-size: 2rem;
        font-weight: 300;
        text-transform: capitalize;
    }


}
/* Start footer */

/* Start footer */

footer{
    position: absolute;
    background: rgb(24, 23, 23);
    color: #fff;
    width: 100%;
  }
  
  .colonnes{
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
  .colonne{
      
      margin: 50px 100px 40px 100px;    
  }
  .colonne p{
    color: #c9cfda;
    margin:6px auto;
  }
  .colonne h3{
   margin-bottom: 10px;
  }
  .colonne a{
    color: #c9cfda;
    text-decoration: none;
  }
  
  .colonne a:hover{
    color: #e4ae4a;
    text-decoration: none;
  }
  .social{
   float: right;
  }
  .socials{
    list-style: none;
    display: flex;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 4px;
    border-radius: 50%;
  }
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
    margin-left: 1px;
  }
  .socials a :hover {
    transform: scale(0.9);
  }
  
  .footer-bottom{
    background: rgb(46, 43, 43);
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .footer-bottom p{
    color: #fb911f;
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
  color:var(--color1);
  font-size: 16px;
  text-decoration: none;
  }
  

  